/* Universal reset to remove default margins, padding, and set box-sizing to border-box */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure the html element takes up the full height and width of the viewport */
html {
  height: 100%;
  width: 100%;
}

/* Style for all h1 elements */
h1 {
  font-family: "Playwrite IT Moderna", cursive;
  margin-bottom: 30px;
  color: #5b5b5b;
  font-size: 25px;
  position: fixed;
  top: 30px;
  left: 30px;
}

/* Style for the figure element with id gallery-figure */
#gallery-figure {
  position: fixed;
  width: 60%;
  left: 30px;
  top: 100px;
}

/* Style for images within the gallery-figure */
#gallery-figure img {
  width: 100%;
  border-radius: 5px;
}

/* Style for the unordered list with id gallery-list */
#gallery-list {
  top: 100px;
  width: 25%;
  position: absolute;
  right: 6%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-bottom: 100px;
}

/* Style for list items within the gallery-list */
#gallery-list li {
  cursor: pointer;
}

/* Style for images within the gallery-list */
#gallery-list img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Apply grayscale filter to list items within gallery-list that do not have the active class */
#gallery-list li:not(.active) {
  filter: grayscale(1);
}

/* Style for figcaption elements */
figcaption {
  font-family: "Playwrite IT Moderna", cursive;
}

/* CSS image transition effects */
#gallery-figure img {
  transition: opacity 0.5s ease-in-out;
}

#gallery-figure img.fade-out {
  opacity: 0;
}

#gallery-figure img.fade-in {
  opacity: 1;
}


/* Lightbox overlay styling */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.lightbox img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  border-radius: 5px;
}

.lightbox .close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.lightbox .close:hover,
.lightbox .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}